.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.center-column-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer {
    background-color: #c2c8cc;
}